<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--<add key="MachineNumber" value="192.168.3.108" />-->
		<add key="MachineNumber" value="192.168.2.132" />
		<add key="License" value="0" />
		<add key="ServerIP" value="192.168.3.103" />
		<add key="ServerPort" value="5005" />
		<add key="Password" value="0" />
		<add key="Timeout" value="3000" />

		<add key="scrXPos" value="0" />
		<add key="scrYPos" value="0" />
		<add key="autoRunFlag" value="0" />
		<add key="ChekSecDup" value="0" />
	</appSettings>
	<connectionStrings>
		<add name="BT_HR"
			 connectionString="Server=BTDB04;Initial Catalog=BT_HR;Persist Security Info=False;User ID=usrhronline;Password=Ku#Ybi9Qxlq!;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Connection Timeout=30;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
